@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82) ;
    }

    #login {
        width: 80vw;        
    }

    #imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    #formulario{
        float: right;
        width: 70%;        
    }
}

@media screen and (min-width: 992px)  {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82) ;
    }

    #login {
        width: 950px;       
    }

    #imagem {
        float: left;
        height: 100%;
        width: 50%;
    }

    #formulario {
        float: right;
        width: 50%;        
    }
}