@charset "UTF-8";

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {    
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    background: url(../imagens/metal.jpg) center center / cover no-repeat;
    height: 200px;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{    
    font-size: 0.8em;
}

.campo {
    background-color: #5f2c82;
    border: 3px solid #5f2c82;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0px;
}

.campo > label {
    display: none;
}

.campo > span {
    font-size: 2em;    
    color: white;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 44.5px);
    transform: translateY(-14px);
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

.campo > input:focus-within {
    outline: none;
    background-color: white;
}

form > input[type="submit"] {
    display: block;
    width: 100%;
    height: 40px;   
    border: none;
    border-radius: 7px;
    background-color: #40a09d;
    color: white;
    font-size: 1em;
    cursor: pointer;   
}

form > input[type="submit"]:hover {
    background-color: #2d6462;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

a.botao:hover {
    background-color: #6cd3cf;    
}

a.botao > span {
    font-size: 0.8em;
    color: black;
}